# Assignment Part-2

#### Q26. What is a string? How can we declare string in Python?
     A)string is a one of the data type in Python
        we can declare the string the string by using either single quotes, double quotes, or triple quotes and then assign it to a variable

#### Q27. How can we access the string using its index?
        A)By using square brackets 
        ex: str = 'ravi' --> str[0] = 'r'

In [1]:
str1 = 'ravi' 
str1[0]

'r'

#### Q28. Write a code to get the desired output of the following
        string = "Big Data iNeuron"
        desired_output = "iNeuron"

In [2]:
string = "Big Data iNeuron"
print(string[9:])

iNeuron

#### Q29. Write a code to get the desired output of the following
        string = "Big Data iNeuron"
        desired_output = "norueNi"

In [3]:
string = "Big Data iNeuron"
print(string[:7:-1])

norueNi

#### Q30. Resverse the string given in the above question.

In [4]:
string[::-1]

'norueNi ataD giB'

#### Q31. How can you delete entire string at once?

In [5]:
del(string)

#### Q32. What is escape sequence?
        To print the special characters backslash \ followed by the character

#### Q33. How can you print the below string?
        'iNeuron's Big Data Course'

In [6]:
print("iNeuron's Big Data Course")

iNeuron's Big Data Course

#### Q34. What is a list in Python?
        A) List is used to stored the sequence of values, these can be non-homogeneous as well

#### Q35. How can you create a list in Python?
        A) using square brackets we can create a list or using list method

#### Q36. How can we access the elements in a list?
        A)using index we can access

#### Q37. Write a code to access the word "iNeuron" from the given list.

In [7]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

#### Q38. Take a list as an input from the user and find the length of the list.

In [8]:
lst = input("Enter the list with comma separated : ").split(',') #Appl,Banana,Mango,Grapes
print(len(lst))

Enter the list with comma separated : Appl,Banana,Mango,Grapes
4

#### Q39. Add the word "Big" in the 3rd index of the given list.

In [9]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2, 'Big')
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

#### Q40. What is a tuple? How is it different from list?
        A)Tuple is also used to store the sequence of data but unlike list it is immutable

#### Q41. How can you create a tuple in Python?
        A) Using parenthesis () or tuple method

#### Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.
        A) tup = ("ravi",)
            We have to use to , at the end if we have only one value in tuple to indicate it as tuple

#### Q43. Can two tuple be appended. If yes, write a code for it. If not, why?
        A) We can't add elements to a tuple because it is immutable. tuple don't have appended or extend

#### Q44. Take a tuple as an input and print the count of elements in it.

In [10]:
tup1 = tuple(input().split(',') )#("Welcome", "to")
print(len(tup1))

("Welcome", "to")
2

#### Q45. What are sets in Python?
        A)Sets are used to store sequence of unique elements in unordered way in a single variable

#### Q46. How can you create a set?
        A)Using {}

#### Q47. Create a set and add "iNeuron" in your set.

In [11]:
st = {"Welcome", "to"}
st.add("iNeuron")
print(st)

{'iNeuron', 'Welcome', 'to'}

#### Q48. Try to add multiple values using add() function.
        A) we can't add multiple values in add function

#### Q49. How is update() different from add()?
        A)We use add() method to add single value to a set. We use update() method to add sequence values to a set

#### Q50. What is clear() in sets?
        A)it removes all elements in a set

#### Q51. What is frozen set?
        A) Frozen set is an immutable while set is mutable

#### Q52. How is frozen set different from set?
        A) Frozen set is an immutable while set is mutable

#### Q53. What is union() in sets? Explain via code.
        A)it will give all the unique elements from both the sets

In [12]:
st1 = {"Welcome", "to"}
st2 = {"to","ravi"}
print(st1.union(st2))

{'ravi', 'Welcome', 'to'}

#### Q54. What is intersection() in sets? Explain via code.
		it will give all the elements which are present in both the sets

In [13]:
st1 = {"Welcome", "to"}
st2 = {"to","ravi"}
print(st1.intersection(st2))

{'to'}

#### Q55. What is dictionary in Python?
		dictionary is used to store the data in key value pairs in python`

#### Q56. How is dictionary different from all other data structures.
		dictionary is used to store the data in key value pairs in python

#### Q57. How can we delare a dictionary in Python?
		d = {'a':1, 'b':2}

In [14]:
d = {'a':1, 'b':2}
d

{'a': 1, 'b': 2}

#### Q58. What will the output of the following?

    var = {}
    print(type(var))
    class<dict>

In [15]:
var = {}
print(type(var))

<class 'dict'>

#### Q59. How can we add an element in a dictionary?

In [16]:
d['c'] = 3
d

{'a': 1, 'b': 2, 'c': 3}

#### Q60. Create a dictionary and access all the values in that dictionary.

In [17]:
print(d.values())

dict_values([1, 2, 3])

#### Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [18]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}


print(people.values())

dict_values([{'name': 'John', 'age': '27', 'sex': 'Male'}, {'name': 'Marie', 'age': '22', 'sex': 'Female'}, {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}, {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}])

#### Q62. What is the use of get() function?
		It will return the value of the particular key we passed
			d['c']

#### Q63. What is the use of items() function?
		items() method is used to return the list with all dictionary keys with values.

#### Q64. What is the use of pop() function?
		pop() method removes and returns the specified element from the dictionary.

#### Q65. What is the use of popitems() function?
		popitem() method removes the last inserted key-value pair from the dictionary and returns it as a tuple
		
#### Q66. What is the use of keys() function?
		it will return all the keys in dictionary

#### Q67. What is the use of values() function?
		it will return all the values in dictionary

#### Q68. What are loops in Python?
		Loops are used to execute a block of statements continuously until the condition is true  

#### Q69. How many type of loop are there in Python?
		while, for, nested loops

#### Q70. What is the difference between for and while loops?
		while loop first check  for the condition and then executes the statements
		for loop first executes the statements until the condition succeed
		
#### Q71. What is the use of continue statement?
		It returns the control to the beginning of the loop.

#### Q72. What is the use of break statement?
		It brings control out of the loop

#### Q73. What is the use of pass statement?
		It uses to write empty blocks

#### Q74. What is the use of range() function?
		It will give the sequence of numbers in the given range

#### Q75. How can you loop over a dictionary?

In [19]:
for key,value in d.items():
    print(key,value)

a 1
b 2
c 3

## Coding problems

#### Q76. Write a Python program to find the factorial of a given number.

In [20]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while n>1:
            fact = fact *n
            n-=1
        return fact

print(factorial(6))

#Using recursion 
def fact_recur(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact_recur(n-1)

print(fact_recur(5))

720
120

#### Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [21]:
def simpleIntrest(p,r,t):
    return (p*r*t)/100.0

print(simpleIntrest(1000, 1.2, 12))

144.0

#### Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [22]:
def compoundIntrest(p,r,t):
    return p * (pow((1+r/100.0),t))

print(compoundIntrest(10000, 10.25, 5))

16288.946267774416

#### Q79. Write a Python program to check if a number is prime or not.

In [23]:
def prime_check(n):
    if n <=0:
        print("please enter a valid positive number")
    
    else:
        for i in range(2,n//2):
            if n%i == 0:
                flag = 1
                break
            else:
                flag = 0
        print("Not a Prime Numnber") if flag == 1 else  print("Prime Numnber")

prime_check(617)

Prime Numnber

#### Q80. Write a Python program to check Armstrong Number.

In [24]:
def isArmstrong(n):
    p = len(str(n))
    temp = n
    res =0
    while n >0:
        res = res+pow(n%10,p)
        n = n//10
    
    if temp == res:
        print("Armstrong Number")
    else:
        print("Not an Armstrong Number")
        
isArmstrong(1634)

Armstrong Number

#### Q81. Write a Python program to find the n-th Fibonacci Number.

In [25]:
def fib(n):
    a,b = 0,1
    if n < 0:
        print("Please enter valid input")
    elif n ==0:
        print(0)
    elif n ==1:
        print(b)
        
    else:
        for i in range(1,n):  
            c = a+b
            a = b
            b = c
        print(b)
fib(9)
 
#recursion

def fib_recur(n):
    a,b = 0,1
    
    if n < 0:
        return "Please enter valid input"
    elif n ==0:
        return 0
    elif n ==1:
        return b
        
    else:
        return fib_recur(n-1) + fib_recur(n-2)
        
print(fib_recur(9))

34
34

In [26]:
def fib(n):
    a,b = 0,1
    if n < 0:
        print("Please enter valid input")
    elif n ==0:
        print(0)
    elif n ==1:
        print(b)
        
    else:
        print(a, end = ' ')
        for i in range(1,n): 
            print(b, end = ' ')
            c = a+b
            a = b
            b = c
#             print(b)
fib(9)

0 1 1 2 3 5 8 13 21

#### Q82. Write a Python program to interchange the first and last element in a list.

In [27]:
lst = [1,2,5,7,9,6,5,4,2,810]
temp = lst[0]
lst[0] = lst[-1]
lst[-1] = temp
print(lst)

lst2 = [410,1,2,5,7,9,6,5,4,2,810,180]
lst2[0], lst2[-1] = lst2[-1], lst2[0]
print(lst2)

[810, 2, 5, 7, 9, 6, 5, 4, 2, 1]
[180, 1, 2, 5, 7, 9, 6, 5, 4, 2, 810, 410]

#### Q83. Write a Python program to swap two elements in a list.

In [28]:
lst = [1,2,5,7,9,6,5,4,2,810]
pos1 = 5
pos2 = 10
lst[pos1-1], lst[pos2-1] = lst[pos2-1], lst[pos1-1]
lst

[1, 2, 5, 7, 810, 6, 5, 4, 2, 9]

#### Q84. Write a Python program to find N largest element from a list.

In [29]:
lst = [1,2,5,7,9,6,5,4,2,810]
print(max(lst))

# Traditional way
max_num = lst[0]

for i in lst:
    if i > max_num:
        max_num = i
        
print(max_num)

810
810

#### Q85. Write a Python program to find cumulative sum of a list.

In [30]:
lst = [1,2,5,7,9,6,5,4,2,810]
print(sum(lst))

# Traditional way
sum_lst = 0

for i in lst:
    sum_lst += i
        
print(sum_lst)

851
851

#### Q86. Write a Python program to check if a string is palindrome or not.

In [31]:
string = input("Enter a string to check if is Palindrome or not: ")

rev_string = string[::-1]

if string == rev_string:
    print("Planidrome")
else:
    print("Not a Palindrome")

Enter a string to check if is Palindrome or not: malayalam
Planidrome

#### Q87. Write a Python program to remove i'th element from a string.

In [32]:
string = input("Enter a string to: ")
pos = int(input("Enter the postion to remove that element : "))

print("Entered String: {} \nafter i'th element removed {} ".format(string, string[:pos-1] + string[pos:]))

Enter a string to: ravi varma
Enter the postion to remove that element : 2
Entered String: ravi varma
after i'th element removed rvi varma

#### Q88. Write a Python program to check if a substring is present in a given string.

In [33]:
string = input("Enter a string : ")
sub_str = input("Enter another string: ")

if sub_str in string:
    print("SubString is present in the main string")
else:
    print("Not present")

Enter a string : ravi varma
Enter another string: avi
SubString is present in the main string

#### Q89. Write a Python program to find words which are greater than given length k.

In [34]:
string = input("Enter a sentence: ")
words = string.split(" ")
k = int(input("Enter the length: "))
res = []

for word in words:
    if len(word) > k:
        res.append(word)
        
print(",".join(res))

Enter a sentence: Working on iNeuron Python assignmemnts
Enter the length: 5
Working,iNeuron,Python,assignmemnts

#### Q90. Write a Python program to extract unique dictionary values.

In [35]:
d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':4, 'f':2}
set(d.values())

{1, 2, 3, 4}

#### Q91. Write a Python program to merge two dictionary.

In [36]:
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'d':4, 'e':4, 'f':2}
d1.update(d2)
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 4, 'f': 2}

#### Q92. Write a Python program to convert a list of tuples into dictionary.
        Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
        Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [37]:
lsttup = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
d = dict(lsttup)
d

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

#### Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
        Input: list = [9, 5, 6]
        Output: [(9, 729), (5, 125), (6, 216)]

In [38]:
lst = [9, 5, 6]
res = [(x,pow(x,3)) for x in lst]
res

[(9, 729), (5, 125), (6, 216)]

#### Q94. Write a Python program to get all combinations of 2 tuples.
        Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
        Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [39]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)

res1 = [(i,j) for i in test_tuple1  for j in test_tuple2] + [(j,i) for i in test_tuple1  for j in test_tuple2]
res1

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (8, 7), (7, 2), (8, 2)]

#### Q95. Write a Python program to sort a list of tuples by second item.
        Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
        Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [40]:
input1 = [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
sorted(input1, key=lambda x: x[1])

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

#### Q96. Write a python program to print below pattern.

        * 
        * * 
        * * * 
        * * * * 
        * * * * *

In [41]:
n = 5
for i in range(n+1):
    print(i * '* ', end = '')
    print()

*
* *
* * *
* * * *
* * * * *

#### Q97. Write a python program to print below pattern.

            *
           **
          ***
         ****
        *****

In [42]:
n = 5
s = n*2 -2
for i in range(n):
    for j in range(s):
        print(end = ' ')
    s -= 2
    for j in range(0, i+1):
        print("* ", end="")
        
    print("\r")

        *
      * *
    * * *
  * * * *
* * * * *

#### Q98. Write a python program to print below pattern.

        * 
       * * 
      * * * 
     * * * * 
    * * * * *

In [43]:
n = 5
s = n -1
for i in range(n):
    for j in range(s):
        print(end = ' ')
    s -= 1
    for j in range(0, i+1):
        print("* ", end="")
        
    print("\r")

    *
   * *
  * * *
 * * * *
* * * * *

#### Q99. Write a python program to print below pattern.

        1 
        1 2 
        1 2 3 
        1 2 3 4 
        1 2 3 4 5

In [44]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end =" ")
    print('\r')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### Q100. Write a python program to print below pattern.

        A 
        B B 
        C C C 
        D D D D 
        E E E E E

In [45]:
n = 5
ascii_num = 64
for i in range(1,n+1):
    ascii_num += 1
    for j in range(1,i+1):
        print(chr(ascii_num), end =" ")
    print('\r')

A
B B
C C C
D D D D
E E E E E

In [46]:
ord('A')
chr(65)

'A'